div.cheat {
  max-width: 600px;
  height: calc(100vh - 90px);
  min-height: 220px;
  position: relative;
  margin: auto;
  top: 60px;
  padding: 40px 40px 30px;
  background-color: #eee;
  border-radius: 30px;
  border: 2px solid #000;
  box-shadow: 2px 2px 5px #555;
  display: flex;
  gap: 20px;
  flex-direction: column-reverse;
  ul {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    overflow: scroll;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    border: 1px solid #000;
    &::-webkit-scrollbar {
      display: none;
    }
    li.lodingMessage {
      text-align: center;
      font-size: 36px;
      line-height: 40px;
      font-weight: 700;
    }
    li {
      div {
        position: relative;
        h5 {
          text-align: center;
          line-height: 40px;
          color: #000;
        }
        div {
          max-width: 320px;
          width: calc(100% - 40px);
          display: flex;
          flex-direction: column;
          gap: 10px;
          padding: 15px;
          position: relative;
          border: 1px solid #000;
          white-space: pre-wrap;
          i {
            font-size: 16px;
            font-weight: 700;
            text-indent: 5px;
          }
          button {
            display: none;
            position: absolute;
            top: 5px;
            left: 0;
            background-color: transparent;
            color: #fff;
            border: 0;
            cursor: pointer;
          }
          h6 {
            text-align: center;
            font-size: 11px;
            width: 50px;
            position: absolute;
            bottom: 0;
          }
        }
      }
      .mymessage {
        border: 0px solid #000;
        color: #fff;
        div {
          border-radius: 15px 15px 0 15px;
          margin-left: auto;
          background-color: #333;
          h6 {
            right: 100%;
            color: #000;
          }
          i {
            text-align: right;
          }
          &:hover {
            button {
              display: block;
            }
          }
        }
      }
      .othermessage {
        border: 0px solid #000;
        div {
          background-color: #ddf;
          border-radius: 0 15px 15px 15px;
          white-space: pre-wrap;
          h6 {
            left: 100%;
          }
        }
      }
    }
  }
  .sendMessage {
    form {
      display: flex;
      align-items: flex-end;
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 15px;
      .mark {
        width: 30px;
        text-align: center;
        border-radius: 15px 0 0 15px;
        border-right: 0;
        line-height: 30px;
      }
      .textArea {
        width: calc(100% - 60px);
        height: 30px;
        textarea {
          width: 100%;
          height: inherit;
          line-height: 28px;
          border: 0;
          resize: none;
          overflow: hidden;
        }
      }
      .sendBtn {
        width: 30px;
        button {
          height: 30px;
          border: 0;
          background-color: inherit;
          border-radius: inherit;
          cursor: pointer;
        }
      }
    }
  }
}
